<div class="container">
  <h1>Welcome to JavaScript</h1>


<table class="racer_table">
  <tr id="player1_strip">
    <td class="active"></td>
   Ferrari vs.
  </tr>

  <tr id="player2_strip">

    <td class="active"></td>
    Mclaren
  </tr>
</table>


<head>
<script>
function myFunction() {
    var row = $("tr#player1_strip").prepend('<td></td>')
}
function myFunction2() {
    var row = $("tr#player2_strip").prepend('<td></td>')
}


$(document).keyup(function(e) {
  if (e.which == 80)
    {
      myFunction();
    }
  else if (e.which == 81)
  {
    myFunction2();
  }

});
</script>
</head>

<body>


<button type="button" onclick="myFunction()">Try it</button>

</body>
</html>


<head>
<script>

</script>
</head>

<body>


<element onkeypress="myFunction2()">Try it</element>

</body>
</html>